* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url('./images/Background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Catamaran', sans-serif;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 100vh;
    
   
}

.phone-container {
    width: 20%;
    height: 40%;
    background-color: #013243;
    color: white;
    padding: 30px;
    background-image: url('./images/iPhone-Mockup.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.phone-container img {
    width: 100%;
 }
 

.label-container {
    width: 20%;
    height: 40%;
    background-color: whitesmoke;
    padding: 30px;

}

.block {
    display: block;
    margin-bottom: 10px;
    
    
}

.label-container label {
    font-weight: bold;
}
 .space {
  margin-bottom: 50px;
 }

.button {
    padding: 10px;
    background-color: #013243;
    color: whitesmoke;
    border: none;
    border-radius: 5px;

}